.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox label {
    padding-left: 30px;   
     min-height: 18px;
     color: #6f6f6f;
    text-transform: capitalize;
    font-size: 13px;   display: inline-block;
    max-width: 100%;
   
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
label.uncased {
    text-transform: none; 
}


    
    .toggle-button input[type="checkbox"]:checked ~ label .toggle-button__switch {
    background-color: #a40d13;
}
.toggle-button label .toggle-button__switch.is-checked {
    border-color: #a40d13;
}
    
    
    
    .toggle-button label .toggle-button__switch {
    position: relative;
    height: 33px;
    flex: 0 0 56px;
    border-radius: 60px;
    border: 1px solid #e8e7e5;
     background-color: #ffffff; 
}
    @media (min-width: @screen-md-min) {
   .table_menu{ 
  
    #menu_nav_link{text-align: center;position: relative;background: rgb(255, 255, 255);
     li{display: inline-block; float: none;   margin-left: 3%;
    margin-right: 3%;
    @media (min-width: @screen-sm-min){
    
    
    
    }}
    }

    }
    }
    
    .block {
    width: initial;
    max-width: 100%;
    display: block;
        margin-top: -40px;
    margin-bottom: 10px;
}

    .main__inner-wrapper{margin:0 10px; padding:0 20px; @media (max-width: @screen-md-max) {padding:0 0px;}
    .inverce_30{margin:0 -30px;}
    }
    .page-homepage .main__inner-wrapper, .template-pages-layout-skysales-sa-saccLayoutLandingPage .main__inner-wrapper{margin:0 0px; padding:0 0px; @media (max-width: @screen-md-max) {padding:0 0px; margin:0 0px; }
    .inverce_30{margin:0 -30px;}
    }
    .margin-bottom{margin-bottom:30px !important;}
    
    .no-space .yCmsComponent.right-margin{
    @media (min-width: @screen-md-min) {padding-right:15px !important;}
    }
    .no-space .yCmsComponent.left-margin{
    @media (min-width: @screen-md-min) {padding-left:15px !important;}
    }
    
    
    @media (max-width: @screen-md-max) and (min-width: @screen-md-min) {
   .table_menu #menu_nav_link li{
       margin-left: 2.5%;
    margin-right: 2.5%;
   }
   
 }
 @media (min-width: @screen-md-min){
 .personal_info{
i{    float: left;
    background: url(../images/account.svg) no-repeat center center;
    width: 50px;
    height: 40px;
    display: block;
    background-size: 80%;}
span{    display: block;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;}
b{    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
    min-width: 80px;
    display: inline-block;
    margin-right: 5px;}
 }
 
 .NAVcompONENT{
 	position: absolute;
    z-index: 1003;
    background-color: #fff;
    top: 39px;
    display:none;
    right: 58px;
    width: 230px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.54), 0 6px 20px 0 rgba(0, 0, 0, 0.28);
    .accNavComponent__child-wrap{
        margin: 20px;
    li{    padding: 10px;
    }
 }
 }
 
 
 }
 
 
 
 @media (max-width: @screen-sm-max){
  .registration{
  padding-bottom:0 !important}
 
 
 .loginaccount{padding-bottom:0px !important;
 }
 .NAVcompONENT{
 display:none;}
 .boder_personal_info{
 
     padding: 4px;
    border: 2px solid #FFF;
    border-radius: 5px;
    
    &:hover{
     border: 2px solid #6F263D ;
    }
 }
 .js-mobile-logo{
 text-align: center;
 margin-left: 10px;
 a
 {
 img{
    max-width: 146px;
    margin-top: 2px;

    @media (max-width: 370px){    max-width: 132px;
        margin-top: 7px;}
 
 }
 }
 
 }
 
 
 }
 .AddToCart-PickUpInStoreAction{display: none !important;}
 .has-error .help-block {
       font-weight: 500;
    color: #c53131;
    margin-left: 5px;
    margin-top: 10px;
}


 @media (min-width: 1024px){
.sticky-wrapper {
    height: auto !important;
    position: relative;
}
.sub__navigation{
	
	    margin:0
	
	}
}

.sticky-wrapper{
z-index:5;
}

.checkout-login-right-content-component .headline{

    color: #121010;
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    padding: 20px 0;
    margin: 0;
    text-align: left;

}
#guestForm{
    label{
        display: block !important;
    }
.form-group{    margin-top: 35px;
input{
    background: #fff;
    height: 40px;
}

}

.sub_btn{
margin-top: 54px;
}
.btn-default[disabled]{
color: #ffffff;
    background-color: #909090;
    border-color: #909090;
&:hover{
color: #ffffff;
    background-color: #424242;
    border-color: #424242;

}
}
	}
		

.Pad_cart_de{
padding:15px 60px;


}
		
.pad_t{
margin-top:20px !important;
}
		
#js-cookie-notification{
    background-color: #121010;
    border-color: #121010;
    color: #fff;
    border-radius: 0;
    font-size: 12px;
    font-style: italic;
    padding: 10px 30px 10px 10px;
    position: relative;
    text-align: center;
    .close{
    color:#fff;
    right: 5px;
    top: 0px;
    
    opacity: 0.7;
    @media (max-width: @screen-xs-max){right: 10px;
        top: 10px;}
    }

}	
		
.tel{

    color: #c0c0c0;
    font-size: 14px;
    i{
        font-size: 14px;
    color: #c0c0c0;
    font-weight: 600;
    }
}		
		
		
#cboxTitle{
.headline{
    padding: 0;
    font-size: 18px;
    text-align: left;
@media (max-width: @screen-sm-max){
font-size: 15px;

}
}


}	
.bootstrap-select .btn-select {
    font-size: 12px !important;
    border: 1px solid #ccc;
    background: #fff !important;
    color: @brand-primary !important;
    font-weight: 500;
    box-shadow: none;
}

.tab-review{
label{
    color: #ababab;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;

}




}


.selectors_pdp{
@media (min-width: @screen-md-min){
margin-top:25px;
a{
margin: 5px;
img {
    max-width: 100%;
}


}
}







@media (max-width: @screen-sm-max){
margin-top:25px;
a{
img {
    max-width: 75px;

}
}
}

}

.storeCredit_div{

.container-radio {
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
   
    color: #656565;
    font-size: 14px;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
       position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
   
    border-radius: 50%;
    border: 1px solid #afafaf;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  border:1px solid #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
   border: 1px solid #121010;
  
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #121010;
}
}
#sctCode{
display:none;
}
.storeCreditAmount{display:none;}
.checkout_store{
.headline{
    text-align: left;
    color: #626262;

}
position: relative;
.balance{
    top: 200px;
    background: #f1f1f1;
    right: 30px;
    border: 1px solid #e2e2e2;
    padding: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    .available{
        display: inherit;
        text-align: center;
    padding-bottom: 4px;
    font-size: 15px;
    color: #333;}
    
    .aed{
        display: block;
    text-align: center;
    font-size: 18px;
    color: #333;
    font-weight: 700;
    padding-bottom: 4px;
    }


}
}


.carousel__component--headline, .carousel-component .headline{
    @media (max-width: @screen-sm-max){font-size:14px}
}
.padd30{padding:15px 30px 15px;
    @media (max-width: @screen-md-max){padding:20px 20px 10px}
    @media (max-width: @screen-sm-max){padding:10px 10px 10px}
    @media (max-width: @screen-xs-max){padding:10px 0px 0px}
}
.padd30 .padd30{margin-bottom: 0; margin-top: 0;}
.site-search .ui-menu-item{    min-height: 66px;
    a{display: block;float:left;
        width: 100%; .thumb{    float: left;
    img { max-width: 60px;}
    }
    .name{margin-top:7px;}
    }
    .price {
        font-size: 13px;}
    }
    .site-search {
          .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
        border: 0px solid #fff;
        background: #fff;
        font-weight: normal;
        color: #090909;
    }
}
.blackback{background: #121010;}
.list-img{
    .yCmsContentSlot{padding-top:20px; padding-bottom: 20px;
        @media (max-width: @screen-xs-max){padding:10px 5px;}
    }
.banner__component.simple-banner{float:left; margin-right:10px;
    @media (max-width: @screen-xs-max){margin-right:5px;}
img{max-width: 60px;
    @media (max-width: @screen-xs-max){max-width: 25px;}
}}
.content{color: #fff; float: left;    font-size: 12px;
    @media (max-width: @screen-xs-max){font-size: 10px;}
h3{margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    @media (max-width: @screen-xs-max){font-size: 12px;}
    font-weight: 600;}}

}

.grayback {
    .icon{    margin-right: 10px;
        float: left;
        width: 32px;
        margin-top: -2px;
    img{width: 100%;}}
    a{  text-decoration: underline;}
    background: #efefef;
    padding: 20px;
    font-size: 20px;

    @media (max-width: @screen-sm-max){font-size: 16px;}

}
.navigation--bottom .nav__links--products{background: #fff;}
.site-search .input-group-btn{
    position: absolute;
    right: 0;
    white-space: nowrap;
    width: auto;
    z-index: 10;
 .js_search_button {
    position: static;
    right: 0;
    top: 0px;
    background: #6F263D;
    border-radius: 0 5px 5px 0 !important;
    margin-left: 4px;
    width: 100px;
    left: auto;
    color: #fff;
 }
}
.site-search .js_search_button .fa-search:before {
    color: #ffffff;
    font-weight: bold;
}
.catimages .septheme a{display: block; @media (max-width: @screen-sm-max){height: auto !important;}}
.catimages .septheme img{    width: auto;
    margin: 3% auto;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100%;
    @media (max-width: @screen-sm-max){position: static; max-width: 75%;}
    @media (min-width: @screen-lg-min){margin: 25% auto;}
    @media (min-width: 1500px){margin: 10% auto;}
    }
.catimages .septheme:nth-child(even) a{display: block; background: #ebebeb; text-align: center; float: left;width: 100%;}
.catimages .septheme:nth-child(odd) a{display: block; background: #f5f5f5; text-align: center; float: left;width: 100%;}
.margint40{    margin-top: 40px; margin-bottom: 40px;
    @media (max-width: @screen-sm-max){margin-top: 20px; margin-bottom: 0px;}
}
.margint20{    margin-top: 20px; margin-bottom: 10px;
    @media (max-width: @screen-sm-max){ margin-top: 10px; margin-bottom: 0px;}
}
.appstyle .banner__component.simple-banner, .contactstyle .banner__component.simple-banner{float: left;}
.borderbottom{border-bottom: 1px solid #dcdcdc;position: relative;
&::before{    content: '';
    height: 1px;
    background-color: #dcdcdc;
    top: 20px;
    left: 40px;
    display: block;
    right: 40px;
    position: absolute;
    @media (max-width: @screen-sm-max){display: none;}
}
}
.contactstyle .content{    float: left;
    width: 80%;
    font-size: 16px;
    line-height: 34px;
    font-weight: 600;
    color: #9b9b9b;
    padding-left: 10px;
    .callclass{
        color: #4e4e4e;
        font-weight: 600;
        font-size: 20px;
    }
}
.contactstyle .banner__component.simple-banner + .content + .content,
.contactstyle .banner__component.simple-banner + .content + .content + .content{    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    line-height: initial;
    padding-left: 0;
    color: #4e4e4e;
a{    color: #9b9b9b;}
a:hover{    color: @brand-secondary;}
}

.appstyle .banner__component.simple-banner + .content{float: left;
    min-width: 75%;
    padding-top: 0px;
    padding-left: 10px;
    min-height: 65px;
    font-weight: 500;
    color: #9b9b9b;
h4{font-size: 18px;
    color: #4e4e4e;
    font-weight: 700;
    letter-spacing: 1px;}
}
.appstyle .banner__component.simple-banner + .content + .banner__component.simple-banner,
.appstyle .banner__component.simple-banner + .content + .banner__component.simple-banner + .banner__component.simple-banner{    float: left;
    max-width: 130px;
    margin-right: 10px;
    width: 50%;}
.margint40 .footer__nav--container{
    width:33.333%;
    @media (max-width: @screen-sm-max){width:100%;}

}
.paymenttext{font-size: 12px;}
.copyright{font-weight: 600; font-size: 14px;}
.socialicons a {
    padding: 5px 5px;
    background: #ccc;
    border-radius: 50%;
    width: 34px;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    color: #fff;
    background: #121010;
}
.socialicons a:hover{  background: #6F263D;}
a.mini-cart-link.js-mini-cart-link {
    position: relative;display: inline-block;
}
span.nav-items-total {
    background: #6F263D;
    border-radius: 50%;
    width: 22px;
    display: block;
    text-align: center;
    height: 22px;
    line-height: 22px;
    color: #fff;
    font-size: 11px;
    position: absolute;
    right: 0;
    bottom: 0;
    @media (max-width: @screen-sm-max){   right: -7px;}
}
.miniCartSlot{float: right;}
.cartimage{background: url(../images/cart.svg) no-repeat center center; width: 50px; height: 40px; display: block; background-size: 80%; margin-left: 20px;
    @media (max-width: @screen-sm-max){ width: 40px;
        height: 26px;
        background-size: 69%;}
}
.userimage{float: left;background: url(../images/account.svg) no-repeat center center; width: 50px; height: 40px; display: block; background-size: 80%;}
.accountlogin{position: relative;
    a{    color: #ffffff;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 12px;
        margin-right: 5px;}
        a:after{    content: '';
            width: 1px;
            display: inline-block;
            height: 9px;
            background: #fff;
            margin-left: 10px;}
        a+a::after{display: none;}
span {
    display: block;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
}
}


@media (max-width: 1023px){
    .navigation--bottom .nav__links--products li,
    .navigation--bottom .nav__links--products,
    .navigation--bottom .nav__links--mobile li,
    .navigation--bottom .navigation__overflow,
    .navigation--bottom .nav__links--primary .sub-navigation-section,
    .navigation--bottom.js-enquire-offcanvas-navigation .close-nav button,
    .navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list li,
    .navigation--bottom .nav__links--primary .sm-back{background: none !important; border:none;}
     .navigation--bottom { 
        -webkit-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;}
    .offcanvas .navigation--bottom {
    width: 380px;
    position: absolute;
    left: -380px;
    z-index: 20000;
    background-color: #121010fc;
    -webkit-transform: translate(380px, 0);
    -ms-transform: translate(380px, 0);
    -o-transform: translate(380px, 0);
    transform: translate(380px, 0);
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.navigation--bottom .nav__links--products li a,
.navigation--bottom .nav__links--mobile li a,
.navigation--bottom.js-enquire-offcanvas-navigation .close-nav button span,
.navigation--bottom .nav__links--primary .sm-back {
    color: #ffffff !important;}
    
}

@media (max-width: 639px){
    .offcanvas .navigation--bottom {
        width: 100%;
        height: 100vh;
        left: -100%;
        margin-left: 0;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        -o-transform: translate(100%, 0);
        transform: translate(100%, 0);
        -webkit-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }
    }

    .box-theme2{
        .devcontent{position: absolute;@media (max-width: @screen-sm-max){position: static;}bottom: 0; left: 0; right: 0;margin: 0;padding: 0;min-height: 40px;}
        h2{color: @brand-primary; font-size: 13px; font-weight: 600; margin:10px 2px 0; padding: 0; text-align: center;text-transform: capitalize; display: block;}
        span{font-size: 13px; font-weight: 500; margin:10px 2px 11px; padding: 0; text-align: center;color: @brand-secondary;display: block;}
    }
    .box-theme3{
       
        h2{
            background:@brand-primary;
            display: inline-block;
            color: #fff;
            font-size: 13px;
            padding: 5px;
            min-width: 35%;
            margin: -13px 0 0 20px;
            position: absolute;
            text-transform: capitalize;
            font-weight: 600;
            @media (max-width: @screen-xs-max){min-width: 100%; margin: -13px 0 0 0px;}
        }
        span{
            display: block;
            font-size: 13px;
            padding: 5px;
            min-width: 35%;
            margin: 10px 0 0 20px;
            text-transform: capitalize;
            font-weight: 400;
            @media (max-width: @screen-xs-max){min-width: 100%; margin: 10px 0 0 0px;}
        }
    }

    .boxborder {
        border: 1px solid #efefef;
        border-radius: 5px;
        padding: 10px;
        float: left;
    width: 100%;
        .one_item{border-bottom: 1px solid #efefef; padding: 20px 10px;float: left; width: 100%;}
        .one_item:last-child{border: none;}
        i{float: left;
            font-size: 40px;
            margin-right: 20px;}
        h2{ font-size: 17px; margin: 0;padding: 0;    font-weight: 600;
            text-transform: capitalize;}
        span{ display: block; font-size: 13px; margin-top: 5px;font-weight: 400;
            text-transform: capitalize; color: #413d3d;}
    }
    .pricesection{
        .price{font-size: 22px;float: none;color: @brand-secondary;}
        .scratched {
            text-decoration: line-through;
        }
    }
    .page-productGrid .pagination-wrap, .page-search .pagination-wrap{display: none;}
    a,button{outline: none !important;}
    .arrow-account{margin-left: 15px; font-size: 13px;}

    .site-search .btn.disabled, .site-search .btn[disabled]{    opacity: 1;}

    @media (max-width: @screen-sm-max){
        .paymenttext{background: #f3f3f3;margin: 0 !important;
            padding: 20px;}
        .paymenttext .simple-banner, .paymenttext .logo{display: inline-block; width: auto; max-width: 195px;}
        .appstyle.margint40 {
            width: 320px !important;
            margin: 0 auto;
            float: none;
        }
        .borderbottom{border: none;}
        .appstyle .banner__component.simple-banner{width:60px;}
        .appstyle .banner__component.simple-banner + .content{width:140px; padding-left: 5px;    min-width: auto;}
        .appstyle .banner__component.simple-banner + .content h4 {
            font-size: 16px;    margin-top: 5px;}
        .appstyle .banner__component.simple-banner + .content + .banner__component.simple-banner, .appstyle .banner__component.simple-banner + .content + .banner__component.simple-banner + .banner__component.simple-banner {
            max-width: 100px;
            margin-right: 0px;
            width: 50%;
            margin-bottom: 5px;
        }
        .footer__nav--container.mobile-action{display: block;
            .title{display: block;text-align: center; margin-top: 5px;
            span{display: none;}
            } 
        }
        .footer__nav--container.mobile-action{
            display: block;
            .title{display: block;}

            .footer__nav--links{display: block !important; text-align: center;
            li{display: inline-block; margin: 0 6px; position: relative;
          }
           
            li:last-child:before{display: none;}
            }
        }

        .footer__nav--container.mobile-action li a:before{content: '';
            display: inline-block;
            width: 1px;
            height: 15px;
            background: #c3c3c3;
            position: absolute;
            right: -7px;
            top: 3px;}
        .footer__nav--container.mobile-action li:last-child a:before{display: none;}
    }


    .containerloder {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: center;
                justify-content: center;
        min-height: 200px;
        width: 100%;
        text-align: center;
        background-color: #fff;
      }
      
      .loader {
        max-width: 15rem;
        width: 100%;
        height: auto;
        stroke-linecap: round;
      }
      
      circle {
        fill: none;
        stroke-width: 3.5;
        -webkit-animation-name: preloader;
                animation-name: preloader;
        -webkit-animation-duration: 3s;
                animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        -webkit-transform-origin: 170px 170px;
                transform-origin: 170px 170px;
        will-change: transform;
      }
      circle:nth-of-type(1) {
        stroke-dasharray: 550px;
      }
      circle:nth-of-type(2) {
        stroke-dasharray: 500px;
      }
      circle:nth-of-type(3) {
        stroke-dasharray: 450px;
      }
      circle:nth-of-type(4) {
        stroke-dasharray: 300px;
      }
      circle:nth-of-type(1) {
        -webkit-animation-delay: -0.15s;
                animation-delay: -0.15s;
      }
      circle:nth-of-type(2) {
        -webkit-animation-delay: -0.3s;
                animation-delay: -0.3s;
      }
      circle:nth-of-type(3) {
        -webkit-animation-delay: -0.45s;
                animation-delay: -0.45s;
      }
      circle:nth-of-type(4) {
        -webkit-animation-delay: -0.6s;
                animation-delay: -0.6s;
      }
      
      @-webkit-keyframes preloader {
        50% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
      }
      
      @keyframes preloader {
        50% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
      }





     .sk_bg {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: sk_bg_animation;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
        background-size: 800px 104px;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
     }
     
     .sk_bg.big {
        height: 150px;
     }
     
     .sk_bg.small {
        height: 20px;
     }
     
     .sk_bg.small2 {
        height: 15px;
     }
     
     @keyframes sk_bg_animation{
        0%{background-position:-468px 0}
        100%{background-position:468px 0}
     }
     
     @-webkit-keyframes sk_bg_animation{
        0%{background-position:-468px 0}
        100%{background-position:468px 0}
     }
     .lightback{background: #f9f9f9;}
     a:focus{outline: none !important;}
     .NAVcompONENT .accNavComponent__child-wrap li{width: 100%;}
     .ac_facet{color: #909090;
        font-size: 13px;
    a{margin-right: 5px;}
    }
    .carousel__item--reviews.reviews {
        float: none;
        width: 108px;
        text-align: center;
        margin: 0 auto;
        position: relative;
    }
    .margin-bottom-10{margin-bottom: 20px;}

    .sticky-wrapper.is-sticky .nav__links--products{box-shadow: 0px 0px 5px #00000040;}
    .image-cart .banner__component img{width: auto; max-width: initial;}
    .top_taxs{
        padding-top: 17px !important;
    }
    .border{
        .js-continue-checkout-button ,.js-continue-shopping-button{
            padding: 12px;
            font-size: 16px;
            font-weight: 600;
        }
    }
    .image-cart{
        text-align: center;
        margin-top: 15px;
    }
    .wishlist_icon{
        .removeWishlistEntry, .addWishlistEntry{
color: #000000;
i{
    margin-right: 8px;
}

        }

    }

    .addWishlistEntrywithremove{
        cursor: pointer;
        margin-right: 10px;
    }

    button.btn.dropdown-toggle.bs-placeholder.btn-select .filter-option {color:#999 !important}
    .product-item a.wishlistbtn,.carousel__item a.wishlistbtn{ position: absolute;
        top: 10px;
        right: 10px;
        background: #f2f2f2;
        border-radius: 50%;
        text-align: center;
        padding: 2px 5px;
        margin: 0;
        line-height: 20px;
    i{margin: 0 !important;}
    }
    a.wishlistbtn.removeWishlistEntry{    color: #6F263D;}
    @media (max-width: 1023px) {
        #submitcancelorderform,.account-cancel-order-form{ padding: 0;
        .item__list--item > div, .item__list, li.item__list--item{float: left; width:100%;}
        }
        div#product-facet { position: fixed;
            top: 0;
            -webkit-transition: transform 0.3s ease-out;
            -o-transition: transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
            left: -390px;
            display: initial !important;
        }
        div#product-facet.show-facet {
            
            position: fixed;
            top: 0;
            display: block !important;
            z-index: 20000;
            background: #fff;
            bottom: 0;
            padding: 20px;
            box-shadow: 0px 0px 4px #2f2f2f;
            width: 100%;
            max-width: 380px;
            overflow-y: auto;
            -webkit-transform: translate(380px, 0);
    -ms-transform: translate(380px, 0);
    -o-transform: translate(380px, 0);
    transform: translate(380px, 0);
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
        }
        a.hide-facets.pull-right {
            font-size: 23px;
            padding: 0px 6px;
        }
        .top-mobile-facets {
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            border-bottom: 1px solid #eaeaea;
            margin-bottom: 10px;
        }
        .branding-mobile a.btn_wishlist {
            float: right;
            width: 41px;
            height: 33px;
            background-size: 65%;
            margin: 0;
        }
        .branding-mobile .cartimage{    margin-left: 10px;}

        }
        .js-mainHeader a:focus, .js-mainHeader a:hover, .js-mainHeader a:active{    opacity: 0.9;text-decoration: none;}
        .btn_wishlist:hover {
             opacity: 0.9; 
        }
        @media (max-width: @screen-sm-max)
       {
           .alert {margin-top: 10px;}
           .cookie-alert--top{margin-top: 0;}
        .item__list--item .item__info{margin: 0;}
        .item__list .item__list--item  span.visible-xs {display: inline !important;}
       }
       .has-error input.form-control {
        background: #ffffff;
        border-color: #c53131;
    }
    .static_pages .container{width: 100%;
        *{line-height: 1.8em;}
        tbody{background:#f2f2f2 !important;
            td{    color: #404040;
                font-size: 13px;}
            
        }
        h1{border-bottom: 1px solid #d4d4d4;
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 10px;
            color: #000;}
            h3,h2,h4,h5{
                font-size: 18px;
                font-weight: 600;
                color: #6F263D;}
            ul{    margin-left: 0px;
                background: #f2f2f2;
                padding: 10px;
                padding-left: 30PX;
            li{    color: #404040;
                font-size: 13px;}
            }

        }
        @media (min-width: 1024px){
            body.top_padding .main__inner-wrapper{padding-top: 60px;}
        }
        .product__facet .facet .facet__list .count5{height: 150px; overflow: hidden;}

        .plpage [data-smartedit-component-id="ProductGridSlot"] {
            height: auto !important;
        }


        ul.medialogin
        { margin: 0;padding: 0;text-align:center;
            .fb:hover {
                background: #3B5998;
                color: white;
              }
              
              .twitter:hover {
                background: #55ACEE;
                color: white;
              }
              
              .google:hover {
                background: #dd4b39;
                color: white;
              }
              
            li {
            width: 50px;
            height: 50px;
            display: inline-block;
            line-height: 50px;
            margin: 10px;
            font-size: 22px;
            position: relative;
            overflow: hidden;
            background: #101010;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            .fb {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

            i{color: #fff;}
            span, iframe{height: 50px !important;}
            .fb_iframe_widget{
                display: inline-block !important;
                position: absolute !important;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            span{
                opacity: 0.0000001 !important;
            }
        }
            .facebook_action, a{    position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;}
        }
    }
    .template-pages-layout-skysales-sa-saccLayoutLandingPage .breadcrumb-section{display: none;}
    .template-pages-layout-skysales-sa-saccLayoutLandingPage{
        .box-theme1{
            .devcontent{display: none;}
        }
        .box-theme2{
            .devcontent{
                width: 100%;
                text-align: center;
                font-size: 15px;

                h2{font-size: 18px;}
                span{color: #6F263D;}
            }
        }
        .box-theme4{
            .devcontent{
                width: 100%;
                background: #efefef;
                padding: 10px;
                font-size: 16px;

                h2{font-size: 18px;     margin: 0 0 10px;}
                span{color: #6F263D; width: 100%; display: block; text-align: right;}
            }
        }
    }
    .lang{     float: right;

     a {
        margin-right: 5px;padding-top: 9px;
    }
    img{margin-right: 5px; width: 25px;}
}
@media (max-width: 1023px){
 .navigation--bottom {

    z-index: 20000;}
 }

 @media (min-width: @screen-md){
    .navigation--bottom .nav__links--products li:hover > span > a{ background: #6F263D;
        color: #fff;}
 .navigation--bottom .nav__links--products li{
    span a{ transition: 0.3s;}
.sub__navigation{top: auto !important; left: auto !important;}
 }
 }

 .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader.gif) center no-repeat #ffffff;
}
.accountlogin a:hover, .personal_info:hover b{color:#c16683; opacity: 1;}