.flagicon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  margin-top: 1px;
  float: left;
}
.product-item .flagicon {
  width: 15px;
  height: 15px;
  margin-top: 4px;
}
.abkhazia{background:url(../images/flags/abkhazia.png)  no-repeat;background-size: 100%;}
.afghanistan{background:url(../images/flags/afghanistan.png)  no-repeat;background-size: 100%;}
.aland-islands{background:url(../images/flags/aland-islands.png)  no-repeat;background-size: 100%;}
.albania{background:url(../images/flags/albania.png)  no-repeat;background-size: 100%;}
.algeria{background:url(../images/flags/algeria.png)  no-repeat;background-size: 100%;}
.american-samoa{background:url(../images/flags/american-samoa.png)  no-repeat;background-size: 100%;}
.andorra{background:url(../images/flags/andorra.png)  no-repeat;background-size: 100%;}
.angola{background:url(../images/flags/angola.png)  no-repeat;background-size: 100%;}
.anguilla{background:url(../images/flags/anguilla.png)  no-repeat;background-size: 100%;}
.antigua-and-barbuda{background:url(../images/flags/antigua-and-barbuda.png)  no-repeat;background-size: 100%;}
.argentina{background:url(../images/flags/argentina.png)  no-repeat;background-size: 100%;}
.armenia{background:url(../images/flags/armenia.png)  no-repeat;background-size: 100%;}
.aruba{background:url(../images/flags/aruba.png)  no-repeat;background-size: 100%;}
.australia{background:url(../images/flags/australia.png)  no-repeat;background-size: 100%;}
.austria{background:url(../images/flags/austria.png)  no-repeat;background-size: 100%;}
.azerbaijan{background:url(../images/flags/azerbaijan.png)  no-repeat;background-size: 100%;}
.azores-islands{background:url(../images/flags/azores-islands.png)  no-repeat;background-size: 100%;}
.bahamas{background:url(../images/flags/bahamas.png)  no-repeat;background-size: 100%;}
.bahrain{background:url(../images/flags/bahrain.png)  no-repeat;background-size: 100%;}
.balearic-islands{background:url(../images/flags/balearic-islands.png)  no-repeat;background-size: 100%;}
.bangladesh{background:url(../images/flags/bangladesh.png)  no-repeat;background-size: 100%;}
.barbados{background:url(../images/flags/barbados.png)  no-repeat;background-size: 100%;}
.basque-country{background:url(../images/flags/basque-country.png)  no-repeat;background-size: 100%;}
.belarus{background:url(../images/flags/belarus.png)  no-repeat;background-size: 100%;}
.belgium{background:url(../images/flags/belgium.png)  no-repeat;background-size: 100%;}
.belize{background:url(../images/flags/belize.png)  no-repeat;background-size: 100%;}
.benin{background:url(../images/flags/benin.png)  no-repeat;background-size: 100%;}
.bermuda{background:url(../images/flags/bermuda.png)  no-repeat;background-size: 100%;}
.bhutan{background:url(../images/flags/bhutan.png)  no-repeat;background-size: 100%;}
.bhutan-1{background:url(../images/flags/bhutan-1.png)  no-repeat;background-size: 100%;}
.bolivia{background:url(../images/flags/bolivia.png)  no-repeat;background-size: 100%;}
.bonaire{background:url(../images/flags/bonaire.png)  no-repeat;background-size: 100%;}
.bosnia-and-herzegovina{background:url(../images/flags/bosnia-and-herzegovina.png)  no-repeat;background-size: 100%;}
.botswana{background:url(../images/flags/botswana.png)  no-repeat;background-size: 100%;}
.brazil{background:url(../images/flags/brazil.png)  no-repeat;background-size: 100%;}
.british-columbia{background:url(../images/flags/british-columbia.png)  no-repeat;background-size: 100%;}
.british-indian-ocean-territory{background:url(../images/flags/british-indian-ocean-territory.png)  no-repeat;background-size: 100%;}
.british-virgin-islands{background:url(../images/flags/british-virgin-islands.png)  no-repeat;background-size: 100%;}
.brunei{background:url(../images/flags/brunei.png)  no-repeat;background-size: 100%;}
.bulgaria{background:url(../images/flags/bulgaria.png)  no-repeat;background-size: 100%;}
.burkina-faso{background:url(../images/flags/burkina-faso.png)  no-repeat;background-size: 100%;}
.burundi{background:url(../images/flags/burundi.png)  no-repeat;background-size: 100%;}
.cambodia{background:url(../images/flags/cambodia.png)  no-repeat;background-size: 100%;}
.cameroon{background:url(../images/flags/cameroon.png)  no-repeat;background-size: 100%;}
.canada{background:url(../images/flags/canada.png)  no-repeat;background-size: 100%;}
.canary-islands{background:url(../images/flags/canary-islands.png)  no-repeat;background-size: 100%;}
.cape-verde{background:url(../images/flags/cape-verde.png)  no-repeat;background-size: 100%;}
.cayman-islands{background:url(../images/flags/cayman-islands.png)  no-repeat;background-size: 100%;}
.central-african-republic{background:url(../images/flags/central-african-republic.png)  no-repeat;background-size: 100%;}
.ceuta{background:url(../images/flags/ceuta.png)  no-repeat;background-size: 100%;}
.chad{background:url(../images/flags/chad.png)  no-repeat;background-size: 100%;}
.chile{background:url(../images/flags/chile.png)  no-repeat;background-size: 100%;}
.china{background:url(../images/flags/china.png)  no-repeat;background-size: 100%;}
.christmas-island{background:url(../images/flags/christmas-island.png)  no-repeat;background-size: 100%;}
.cocos-island{background:url(../images/flags/cocos-island.png)  no-repeat;background-size: 100%;}
.colombia{background:url(../images/flags/colombia.png)  no-repeat;background-size: 100%;}
.comoros{background:url(../images/flags/comoros.png)  no-repeat;background-size: 100%;}
.cook-islands{background:url(../images/flags/cook-islands.png)  no-repeat;background-size: 100%;}
.corsica{background:url(../images/flags/corsica.png)  no-repeat;background-size: 100%;}
.costa-rica{background:url(../images/flags/costa-rica.png)  no-repeat;background-size: 100%;}
.croatia{background:url(../images/flags/croatia.png)  no-repeat;background-size: 100%;}
.cuba{background:url(../images/flags/cuba.png)  no-repeat;background-size: 100%;}
.curacao{background:url(../images/flags/curacao.png)  no-repeat;background-size: 100%;}
.cyprus{background:url(../images/flags/cyprus.png)  no-repeat;background-size: 100%;}
.czech-republic{background:url(../images/flags/czech-republic.png)  no-repeat;background-size: 100%;}
.democratic-republic-of-congo{background:url(../images/flags/democratic-republic-of-congo.png)  no-repeat;background-size: 100%;}
.denmark{background:url(../images/flags/denmark.png)  no-repeat;background-size: 100%;}
.djibouti{background:url(../images/flags/djibouti.png)  no-repeat;background-size: 100%;}
.dominica{background:url(../images/flags/dominica.png)  no-repeat;background-size: 100%;}
.dominican-republic{background:url(../images/flags/dominican-republic.png)  no-repeat;background-size: 100%;}
.east-timor{background:url(../images/flags/east-timor.png)  no-repeat;background-size: 100%;}
.ecuador{background:url(../images/flags/ecuador.png)  no-repeat;background-size: 100%;}
.egypt{background:url(../images/flags/egypt.png)  no-repeat;background-size: 100%;}
.england{background:url(../images/flags/england.png)  no-repeat;background-size: 100%;}
.equatorial-guinea{background:url(../images/flags/equatorial-guinea.png)  no-repeat;background-size: 100%;}
.eritrea{background:url(../images/flags/eritrea.png)  no-repeat;background-size: 100%;}
.estonia{background:url(../images/flags/estonia.png)  no-repeat;background-size: 100%;}
.ethiopia{background:url(../images/flags/ethiopia.png)  no-repeat;background-size: 100%;}
.european-union{background:url(../images/flags/european-union.png)  no-repeat;background-size: 100%;}
.falkland-islands{background:url(../images/flags/falkland-islands.png)  no-repeat;background-size: 100%;}
.faroe-islands{background:url(../images/flags/faroe-islands.png)  no-repeat;background-size: 100%;}
.fiji{background:url(../images/flags/fiji.png)  no-repeat;background-size: 100%;}
.finland{background:url(../images/flags/finland.png)  no-repeat;background-size: 100%;}
.france{background:url(../images/flags/france.png)  no-repeat;background-size: 100%;}
.french-polynesia{background:url(../images/flags/french-polynesia.png)  no-repeat;background-size: 100%;}
.gabon{background:url(../images/flags/gabon.png)  no-repeat;background-size: 100%;}
.galapagos-islands{background:url(../images/flags/galapagos-islands.png)  no-repeat;background-size: 100%;}
.gambia{background:url(../images/flags/gambia.png)  no-repeat;background-size: 100%;}
.georgia{background:url(../images/flags/georgia.png)  no-repeat;background-size: 100%;}
.germany{background:url(../images/flags/germany.png)  no-repeat;background-size: 100%;}
.ghana{background:url(../images/flags/ghana.png)  no-repeat;background-size: 100%;}
.gibraltar{background:url(../images/flags/gibraltar.png)  no-repeat;background-size: 100%;}
.greece{background:url(../images/flags/greece.png)  no-repeat;background-size: 100%;}
.greenland{background:url(../images/flags/greenland.png)  no-repeat;background-size: 100%;}
.grenada{background:url(../images/flags/grenada.png)  no-repeat;background-size: 100%;}
.guam{background:url(../images/flags/guam.png)  no-repeat;background-size: 100%;}
.guatemala{background:url(../images/flags/guatemala.png)  no-repeat;background-size: 100%;}
.guernsey{background:url(../images/flags/guernsey.png)  no-repeat;background-size: 100%;}
.guinea{background:url(../images/flags/guinea.png)  no-repeat;background-size: 100%;}
.guinea-bissau{background:url(../images/flags/guinea-bissau.png)  no-repeat;background-size: 100%;}
.guyana{background:url(../images/flags/guyana.png)  no-repeat;background-size: 100%;}
.haiti{background:url(../images/flags/haiti.png)  no-repeat;background-size: 100%;}
.hawaii{background:url(../images/flags/hawaii.png)  no-repeat;background-size: 100%;}
.honduras{background:url(../images/flags/honduras.png)  no-repeat;background-size: 100%;}
.hong-kong{background:url(../images/flags/hong-kong.png)  no-repeat;background-size: 100%;}
.hungary{background:url(../images/flags/hungary.png)  no-repeat;background-size: 100%;}
.iceland{background:url(../images/flags/iceland.png)  no-repeat;background-size: 100%;}
.india{background:url(../images/flags/india.png)  no-repeat;background-size: 100%;}
.indonesia{background:url(../images/flags/indonesia.png)  no-repeat;background-size: 100%;}
.iran{background:url(../images/flags/iran.png)  no-repeat;background-size: 100%;}
.iraq{background:url(../images/flags/iraq.png)  no-repeat;background-size: 100%;}
.ireland{background:url(../images/flags/ireland.png)  no-repeat;background-size: 100%;}
.isle-of-man{background:url(../images/flags/isle-of-man.png)  no-repeat;background-size: 100%;}
.israel{background:url(../images/flags/israel.png)  no-repeat;background-size: 100%;}
.italy{background:url(../images/flags/italy.png)  no-repeat;background-size: 100%;}
.ivory-coast{background:url(../images/flags/ivory-coast.png)  no-repeat;background-size: 100%;}
.jamaica{background:url(../images/flags/jamaica.png)  no-repeat;background-size: 100%;}
.japan{background:url(../images/flags/japan.png)  no-repeat;background-size: 100%;}
.jersey{background:url(../images/flags/jersey.png)  no-repeat;background-size: 100%;}
.jordan{background:url(../images/flags/jordan.png)  no-repeat;background-size: 100%;}
.kazakhstan{background:url(../images/flags/kazakhstan.png)  no-repeat;background-size: 100%;}
.kenya{background:url(../images/flags/kenya.png)  no-repeat;background-size: 100%;}
.kiribati{background:url(../images/flags/kiribati.png)  no-repeat;background-size: 100%;}
.kosovo{background:url(../images/flags/kosovo.png)  no-repeat;background-size: 100%;}
.kuwait{background:url(../images/flags/kuwait.png)  no-repeat;background-size: 100%;}
.kyrgyzstan{background:url(../images/flags/kyrgyzstan.png)  no-repeat;background-size: 100%;}
.laos{background:url(../images/flags/laos.png)  no-repeat;background-size: 100%;}
.latvia{background:url(../images/flags/latvia.png)  no-repeat;background-size: 100%;}
.lebanon{background:url(../images/flags/lebanon.png)  no-repeat;background-size: 100%;}
.lesotho{background:url(../images/flags/lesotho.png)  no-repeat;background-size: 100%;}
.liberia{background:url(../images/flags/liberia.png)  no-repeat;background-size: 100%;}
.libya{background:url(../images/flags/libya.png)  no-repeat;background-size: 100%;}
.liechtenstein{background:url(../images/flags/liechtenstein.png)  no-repeat;background-size: 100%;}
.lithuania{background:url(../images/flags/lithuania.png)  no-repeat;background-size: 100%;}
.luxembourg{background:url(../images/flags/luxembourg.png)  no-repeat;background-size: 100%;}
.macao{background:url(../images/flags/macao.png)  no-repeat;background-size: 100%;}
.madagascar{background:url(../images/flags/madagascar.png)  no-repeat;background-size: 100%;}
.madeira{background:url(../images/flags/madeira.png)  no-repeat;background-size: 100%;}
.malawi{background:url(../images/flags/malawi.png)  no-repeat;background-size: 100%;}
.malaysia{background:url(../images/flags/malaysia.png)  no-repeat;background-size: 100%;}
.maldives{background:url(../images/flags/maldives.png)  no-repeat;background-size: 100%;}
.mali{background:url(../images/flags/mali.png)  no-repeat;background-size: 100%;}
.malta{background:url(../images/flags/malta.png)  no-repeat;background-size: 100%;}
.marshall-island{background:url(../images/flags/marshall-island.png)  no-repeat;background-size: 100%;}
.martinique{background:url(../images/flags/martinique.png)  no-repeat;background-size: 100%;}
.mauritania{background:url(../images/flags/mauritania.png)  no-repeat;background-size: 100%;}
.mauritius{background:url(../images/flags/mauritius.png)  no-repeat;background-size: 100%;}
.melilla{background:url(../images/flags/melilla.png)  no-repeat;background-size: 100%;}
.mexico{background:url(../images/flags/mexico.png)  no-repeat;background-size: 100%;}
.micronesia{background:url(../images/flags/micronesia.png)  no-repeat;background-size: 100%;}
.moldova{background:url(../images/flags/moldova.png)  no-repeat;background-size: 100%;}
.monaco{background:url(../images/flags/monaco.png)  no-repeat;background-size: 100%;}
.mongolia{background:url(../images/flags/mongolia.png)  no-repeat;background-size: 100%;}
.montenegro{background:url(../images/flags/montenegro.png)  no-repeat;background-size: 100%;}
.montserrat{background:url(../images/flags/montserrat.png)  no-repeat;background-size: 100%;}
.morocco{background:url(../images/flags/morocco.png)  no-repeat;background-size: 100%;}
.mozambique{background:url(../images/flags/mozambique.png)  no-repeat;background-size: 100%;}
.myanmar{background:url(../images/flags/myanmar.png)  no-repeat;background-size: 100%;}
.namibia{background:url(../images/flags/namibia.png)  no-repeat;background-size: 100%;}
.nato{background:url(../images/flags/nato.png)  no-repeat;background-size: 100%;}
.nauru{background:url(../images/flags/nauru.png)  no-repeat;background-size: 100%;}
.nepal{background:url(../images/flags/nepal.png)  no-repeat;background-size: 100%;}
.netherlands{background:url(../images/flags/netherlands.png)  no-repeat;background-size: 100%;}
.new-zealand{background:url(../images/flags/new-zealand.png)  no-repeat;background-size: 100%;}
.nicaragua{background:url(../images/flags/nicaragua.png)  no-repeat;background-size: 100%;}
.niger{background:url(../images/flags/niger.png)  no-repeat;background-size: 100%;}
.nigeria{background:url(../images/flags/nigeria.png)  no-repeat;background-size: 100%;}
.niue{background:url(../images/flags/niue.png)  no-repeat;background-size: 100%;}
.norfolk-island{background:url(../images/flags/norfolk-island.png)  no-repeat;background-size: 100%;}
.northen-cyprus{background:url(../images/flags/northen-cyprus.png)  no-repeat;background-size: 100%;}
.northern-marianas-islands{background:url(../images/flags/northern-marianas-islands.png)  no-repeat;background-size: 100%;}
.north-korea{background:url(../images/flags/north-korea.png)  no-repeat;background-size: 100%;}
.norway{background:url(../images/flags/norway.png)  no-repeat;background-size: 100%;}
.oman{background:url(../images/flags/oman.png)  no-repeat;background-size: 100%;}
.orkney-islands{background:url(../images/flags/orkney-islands.png)  no-repeat;background-size: 100%;}
.ossetia{background:url(../images/flags/ossetia.png)  no-repeat;background-size: 100%;}
.pakistan{background:url(../images/flags/pakistan.png)  no-repeat;background-size: 100%;}
.palau{background:url(../images/flags/palau.png)  no-repeat;background-size: 100%;}
.palestine{background:url(../images/flags/palestine.png)  no-repeat;background-size: 100%;}
.panama{background:url(../images/flags/panama.png)  no-repeat;background-size: 100%;}
.papua-new-guinea{background:url(../images/flags/papua-new-guinea.png)  no-repeat;background-size: 100%;}
.paraguay{background:url(../images/flags/paraguay.png)  no-repeat;background-size: 100%;}
.peru{background:url(../images/flags/peru.png)  no-repeat;background-size: 100%;}
.philippines{background:url(../images/flags/philippines.png)  no-repeat;background-size: 100%;}
.pitcairn-islands{background:url(../images/flags/pitcairn-islands.png)  no-repeat;background-size: 100%;}
.portugal{background:url(../images/flags/portugal.png)  no-repeat;background-size: 100%;}
.puerto-rico{background:url(../images/flags/puerto-rico.png)  no-repeat;background-size: 100%;}
.qatar{background:url(../images/flags/qatar.png)  no-repeat;background-size: 100%;}
.rapa-nui{background:url(../images/flags/rapa-nui.png)  no-repeat;background-size: 100%;}
.republic-of-macedonia{background:url(../images/flags/republic-of-macedonia.png)  no-repeat;background-size: 100%;}
.republic-of-poland{background:url(../images/flags/republic-of-poland.png)  no-repeat;background-size: 100%;}
.republic-of-the-congo{background:url(../images/flags/republic-of-the-congo.png)  no-repeat;background-size: 100%;}
.romania{background:url(../images/flags/romania.png)  no-repeat;background-size: 100%;}
.russia{background:url(../images/flags/russia.png)  no-repeat;background-size: 100%;}
.rwanda{background:url(../images/flags/rwanda.png)  no-repeat;background-size: 100%;}
.saba-island{background:url(../images/flags/saba-island.png)  no-repeat;background-size: 100%;}
.saint-kitts-and-nevis{background:url(../images/flags/saint-kitts-and-nevis.png)  no-repeat;background-size: 100%;}
.salvador{background:url(../images/flags/salvador.png)  no-repeat;background-size: 100%;}
.samoa{background:url(../images/flags/samoa.png)  no-repeat;background-size: 100%;}
.san-marino{background:url(../images/flags/san-marino.png)  no-repeat;background-size: 100%;}
.sao-tome-and-principe{background:url(../images/flags/sao-tome-and-principe.png)  no-repeat;background-size: 100%;}
.sardinia{background:url(../images/flags/sardinia.png)  no-repeat;background-size: 100%;}
.saudi-arabia{background:url(../images/flags/saudi-arabia.png)  no-repeat;background-size: 100%;}
.scotland{background:url(../images/flags/scotland.png)  no-repeat;background-size: 100%;}
.senegal{background:url(../images/flags/senegal.png)  no-repeat;background-size: 100%;}
.serbia{background:url(../images/flags/serbia.png)  no-repeat;background-size: 100%;}
.seychelles{background:url(../images/flags/seychelles.png)  no-repeat;background-size: 100%;}
.sierra-leone{background:url(../images/flags/sierra-leone.png)  no-repeat;background-size: 100%;}
.singapore{background:url(../images/flags/singapore.png)  no-repeat;background-size: 100%;}
.sint-eustatius{background:url(../images/flags/sint-eustatius.png)  no-repeat;background-size: 100%;}
.sint-maarten{background:url(../images/flags/sint-maarten.png)  no-repeat;background-size: 100%;}
.slovakia{background:url(../images/flags/slovakia.png)  no-repeat;background-size: 100%;}
.slovenia{background:url(../images/flags/slovenia.png)  no-repeat;background-size: 100%;}
.solomon-islands{background:url(../images/flags/solomon-islands.png)  no-repeat;background-size: 100%;}
.somalia{background:url(../images/flags/somalia.png)  no-repeat;background-size: 100%;}
.somaliland{background:url(../images/flags/somaliland.png)  no-repeat;background-size: 100%;}
.south-africa{background:url(../images/flags/south-africa.png)  no-repeat;background-size: 100%;}
.south-korea{background:url(../images/flags/south-korea.png)  no-repeat;background-size: 100%;}
.south-sudan{background:url(../images/flags/south-sudan.png)  no-repeat;background-size: 100%;}
.spain{background:url(../images/flags/spain.png)  no-repeat;background-size: 100%;}
.sri-lanka{background:url(../images/flags/sri-lanka.png)  no-repeat;background-size: 100%;}
.st-barts{background:url(../images/flags/st-barts.png)  no-repeat;background-size: 100%;}
.st-lucia{background:url(../images/flags/st-lucia.png)  no-repeat;background-size: 100%;}
.st-vincent-and-the-grenadines{background:url(../images/flags/st-vincent-and-the-grenadines.png)  no-repeat;background-size: 100%;}
.sudan{background:url(../images/flags/sudan.png)  no-repeat;background-size: 100%;}
.suriname{background:url(../images/flags/suriname.png)  no-repeat;background-size: 100%;}
.swaziland{background:url(../images/flags/swaziland.png)  no-repeat;background-size: 100%;}
.sweden{background:url(../images/flags/sweden.png)  no-repeat;background-size: 100%;}
.switzerland{background:url(../images/flags/switzerland.png)  no-repeat;background-size: 100%;}
.syria{background:url(../images/flags/syria.png)  no-repeat;background-size: 100%;}
.taiwan{background:url(../images/flags/taiwan.png)  no-repeat;background-size: 100%;}
.tajikistan{background:url(../images/flags/tajikistan.png)  no-repeat;background-size: 100%;}
.tanzania{background:url(../images/flags/tanzania.png)  no-repeat;background-size: 100%;}
.thailand{background:url(../images/flags/thailand.png)  no-repeat;background-size: 100%;}
.tibet{background:url(../images/flags/tibet.png)  no-repeat;background-size: 100%;}
.togo{background:url(../images/flags/togo.png)  no-repeat;background-size: 100%;}
.tokelau{background:url(../images/flags/tokelau.png)  no-repeat;background-size: 100%;}
.tonga{background:url(../images/flags/tonga.png)  no-repeat;background-size: 100%;}
.transnistria{background:url(../images/flags/transnistria.png)  no-repeat;background-size: 100%;}
.trinidad-and-tobago{background:url(../images/flags/trinidad-and-tobago.png)  no-repeat;background-size: 100%;}
.tunisia{background:url(../images/flags/tunisia.png)  no-repeat;background-size: 100%;}
.turkey{background:url(../images/flags/turkey.png)  no-repeat;background-size: 100%;}
.turkmenistan{background:url(../images/flags/turkmenistan.png)  no-repeat;background-size: 100%;}
.turks-and-caicos{background:url(../images/flags/turks-and-caicos.png)  no-repeat;background-size: 100%;}
.tuvalu{background:url(../images/flags/tuvalu.png)  no-repeat;background-size: 100%;}
.uganda{background:url(../images/flags/uganda.png)  no-repeat;background-size: 100%;}
.ukraine{background:url(../images/flags/ukraine.png)  no-repeat;background-size: 100%;}
.united-arab-emirates, .uae{background:url(../images/flags/united-arab-emirates.png)  no-repeat;background-size: 100%;}
.united-kingdom, .uk{background:url(../images/flags/united-kingdom.png)  no-repeat;background-size: 100%;}
.united-nations{background:url(../images/flags/united-nations.png)  no-repeat;background-size: 100%;}
.united-states-of-america, .usa{background:url(../images/flags/united-states-of-america.png)  no-repeat;background-size: 100%;}
.uruguay{background:url(../images/flags/uruguay.png)  no-repeat;background-size: 100%;}
.uzbekistn{background:url(../images/flags/uzbekistn.png)  no-repeat;background-size: 100%;}
.vanuatu{background:url(../images/flags/vanuatu.png)  no-repeat;background-size: 100%;}
.vatican-city{background:url(../images/flags/vatican-city.png)  no-repeat;background-size: 100%;}
.venezuela{background:url(../images/flags/venezuela.png)  no-repeat;background-size: 100%;}
.vietnam{background:url(../images/flags/vietnam.png)  no-repeat;background-size: 100%;}
.virgin-islands{background:url(../images/flags/virgin-islands.png)  no-repeat;background-size: 100%;}
.wales{background:url(../images/flags/wales.png)  no-repeat;background-size: 100%;}
.western-sahara{background:url(../images/flags/western-sahara.png)  no-repeat;background-size: 100%;}
.yemen{background:url(../images/flags/yemen.png)  no-repeat;background-size: 100%;}
.zambia{background:url(../images/flags/zambia.png)  no-repeat;background-size: 100%;}
.zimbabwe{background:url(../images/flags/zimbabwe.png)  no-repeat;background-size: 100%;}