.login-page__headline,
.user-register__headline{
	    color: #465257;
    font-size: 24px;
    line-height: 35px;
   
    padding: 20px 0;
    margin: 0;
    text-align: center;
}
.user-register_info{
     color: #465257;
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: 600;
    text-align: center;

}
.login-left-content-slot{
    margin-right: 10px;
  	margin-left: 30px;

  	@media (max-width: @screen-sm-max) {
      margin-left: 20px;
      margin-right: 20px;
  	}
}

.login-right-content-slot{
    margin-right: 30px;
  	margin-left: 10px;

  	@media (max-width: @screen-sm-max) {
      margin-left: 0px;
      margin-right: 0px;
  	}
}

.forgotten-password{
	form & {
    margin-bottom: 25px;
  }

  &.alert {
    padding-left: 0;
    padding-right: 0;
  }

	.description{
      margin-bottom: (@grid-gutter-width/2);
	}

  #colorbox & .btn-primary {
    margin-top: 35px;
  }
}

.register-form-action, .login-form-action {
  margin-top: 35px;
}

.forgotten-password + .login-form-action {
  margin-top: 0;
}

.alert-dismissable,
.alert-dismissible  {
  .close {
	right: 0;
  }
}

.register__container {
  .full-width-padding();
}

@media (max-width: @screen-xs-max) {
	.login-form-action {
		.btn-default {
          margin-top: @grid-gutter-width * 1.5;
		}
	}
}

@media (max-width: @screen-xs-max) {
	.login-section,
  	.register-section {

		.forgotten-password {
          margin-bottom: 45px;
		}
	}
}