.product__facet {
  margin: 0;
  padding: 0;
}

.product__facet .facet {
  padding: 20px 10px 20px 10px;
  border-bottom: 1px solid @border-color-3;
  .clearfix;

  &:last-child {
	margin: 0;
  }

  .facet__name {
	font-size: 14px;
	font-weight: 600;
	color: @brand-primary;
  }

  .facet__list {
	.list-unstyled;
	margin:  (@grid-gutter-width/2) 0;

	li{
	  padding: (@grid-gutter-width/4) 0;
	}

	label{
	  cursor: pointer;
	  font-weight: normal;
	  display: block;
	  margin: 0;
	  font-size: 12px;
	}

	.facet__list__mark {
	  display: inline-block;
	  width: 20px;
	  height: 20px;
	  padding: 0;
	  margin-right:  (@grid-gutter-width/4);
	  border: 1px solid @input-border-color;
	  text-align: center;
	  vertical-align: middle;
	  background: @input-background;
	  margin-top: -3px;
	}

	.facet__list__checkbox:checked + .facet__list__label {

	  .facet__list__mark {
		
		border:1px solid @link-color;
		&:after{    content: "\f00c";    font-family: 'Font Awesome 5 Pro';
			font-weight: 400;  -moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;}
		
	  }

	  .facet__list__text {
		color: @link-color;
	  }

	}

	.facet__list__checkbox:focus + .facet__list__label {
	  .facet__list__mark {
		border:1px solid @brand-primary;

	  }
	}

	.facet__list__text {
	  line-height: 20px;
	}

  }

  .facet__list.facet__list--hidden {
	display: none;
  }

  .facet__values__more {
	display: block;
  }

  .facet__values__less {
	display: none;
  }


  .facet__form {
	padding-top: 10px;

	.input-group {
	  background-color: @input-background;
	  min-height: 32px;
	  border: 1px solid @input-border-color;

	  .form-control {
		border: 0 none;
		height: 32px;
		box-shadow: none;
	  }

	  .btn {
		width: 40px;
		height: 32px;
		line-height: 32px;
		padding: 0;

		.glyphicon-search {
		  color: @searchbar-icon-color;
		  font-size: 17px;
		  top: 0;
		}
	  }
	}

	.line-text {
	  margin: @grid-gutter-width 0;
	}

  }

  .facet__form__hidden {
	display: none;
  }

  .facet__results__hidden {
	display: none;
  }
}


  .product__facet {
	padding: 0;
	margin: 0;
	border: 0 none;

	#colorbox &{
	  display: block !important;
	}

	.facet {
	  float: none;
	  width: 100%;
	  border:0;
	  margin: 0;
	  padding: 0 0  (@grid-gutter-width/2) 0;

	  .facet__name {
		cursor: pointer;
		padding: (@grid-gutter-width/2) 0;
		padding-right: 15px;
		text-transform: uppercase;
		position: relative;

		.facet__arrow {
		  font-size: 12px;
		  position: absolute;
		  top: 14px;
		  right: 5px;

		  &:before {
			content: "\e080";
		  }
		}
	  }

	  .facet__values {
		display: none;
	  }
	}

	.facet.active {

	  .facet__arrow {
		&:before {
		  content: "\e114";
		}
	  }

	  .facet__values{
		display: block;
	  }

	}
  }
