.slot_time{



input[type=radio]:checked ~ label {
color:red
}

.select_st{
        display: inline-block;
    padding: 22px 0;
    height: 62px;
    width: 220px;
    background: #fff;
    border: 1px solid #c9c9c9;
    margin-bottom: 15px;
    text-align: center;
    color: #000;
    font-size: 12px;
    font-weight: 500;
        cursor: pointer;


}

.label_disabled{

    display: inline-block;
    padding: 12px 0;
    height: 62px;
    width: 220px;
    background: #fff;
    border: 1px solid #c9c9c9;
    margin-bottom: 15px;
    text-align: center;
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 500;
     cursor: default;
}

.title_slot_time{
    height: 62px;
  
     background: #ededed;
    
    margin-bottom: 15px;
    text-align: center;
    padding-top: 13px;

.day{
text-transform: uppercase;
    font-weight: 500;
}


.date{
	    display: block;
    font-size: 11px;
    color: #828282;

}}
.disabled{
 width: 153px;
    height: 50px;
    border-bottom: 3px solid #dcdcdc;
    transform: translateY(-33px) translateX(-20px) rotate(10deg);
    position: absolute;

}
.empty{
display:block}

.disable_input{
display:none}

input[type=radio]:checked ~ label {
background:#121010 !important;
border: 1px solid #121010 !important;
color:#fff !important;
}

.owl-nav1{
.fa-chevron-circle-left{
color:#000 !important}

.owl-prev1{   position: absolute !important;
    left: -21px !important;
    top: 7% !important;
    span{
        font-size: 27px !important;
       font-weight: 400 !important;
     color: #636468 !important;
    }
}
.owl-next{   position: absolute !important;
    left: -21px !important;
    top: 7% !important;
    span{
        font-size: 27px !important;
       font-weight: 400 !important;
     color: #636468 !important;
    }
}

}
}

.item_time_slot.active {
    cursor: pointer;
}
.item_time_slot.no_action {
    cursor: none;
}




.checkout-paymentmethod{
    .selectPaymentMethodForm{
    padding-top:20px;
    }
    .control-label{
        text-align: left;
        color: #626262;
        font-size: 18px;
    }
    .container-radio {
        position: relative;
        padding-left: 28px;
        margin-bottom: 12px;
        cursor: pointer;
        user-select: none;
        color: #656565;
        font-size: 14px;
        display:block;
        i{
            font-size: 17px;
        margin-right: 5px;
        color:@brand-secondary;
        }
    }
    /* Hide the browser's default radio button */
    .container-radio input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    /* Create a custom radio button */
    .checkmark {
           position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: 1px solid #AFAFAF;
    }
    /* On mouse-over, add a grey background color */
    .container-radio:hover input ~ .checkmark {
      border:1px solid #ccc;
    }
    /* When the radio button is checked, add a blue background */
    .container-radio input:checked ~ .checkmark {
       border: 1px solid @brand-secondary;
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    /* Show the indicator (dot/circle) when checked */
    .container-radio input:checked ~ .checkmark:after {
      display: block;
    }
    /* Style the indicator (dot/circle) */
    .container-radio .checkmark:after {
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background:@brand-secondary;
    }
    }