##messageSource=classpath:/saccordermanagementcustomaddon/messages/document-exportform_$lang.properties
<html>
<head>
    <style type='text/css'>@media screen, print {
        table {
            width: 96%;
            margin: 25px 10px 0;
            font-family: "Open Sans", sans-serif;
            color: #151c22;
        }

        th {
            padding: 5px 5px 5px 15px;
            font-weight: bold;
            text-align: left;
        }

        td {        
            padding: 5px 0 5px 15px;
            vertical-align: top;
        }

		td.document-date,
		td.total {
			text-align: right;
		}
		
        .address td {
            padding-top: 0;
            padding-bottom: 0;
        }  

        div.pick-slip-border{
            border-top: 1px solid #e5e9ed;
        }

        td.headline{
            font-size: 27px;
            font-weight: 600;
            color: #1e2830;
        }      
        
        .sitelogo>img{
            max-width: 250px;
        }

        body>table{
            max-width: 1200px;
            margin-left:auto;
            margin-right:auto;
        }
    }</style>
</head>
<body>
	<table>
		<tr>
			<td  class="sitelogo">${ctx.cmsSlotContents.SiteLogo}</td>
		</tr>
        <tr>
            <td class="headline">
                $!{ctx.messages.exportForm}
            </td>
            <td style="text-align:right;">
                <strong>$!{ctx.messages.date}</strong>$!{ctx.date}
            </td>
        </tr>
		<tr>
			<td colspan="2" align="center" valign="middle">
				<a href="${ctx.baseUrl}" style="display: block; margin-top: 10px; margin-bottom: 10px;">${ctx.cmsSlotContents.TopContent}</a>
			</td>
		</tr>
		<tr>
			<td><strong>$!{ctx.messages.orderId}</strong></td>
			<td><strong>$!{ctx.messages.orderDate}</strong></td>
		</tr>
		<tr>
			<td>$!{ctx.escapeHtml($ctx.order.code)}</td>
			<td>$!{ctx.order.date}</td>
		</tr>

        <tr>
            <td colspan="2"><div class="pick-slip-border"></div></td>
        </tr>
		
		<tr>
			<td colspan="2">
			    <strong>$!{ctx.messages.shipTo} </strong><br/>
			    $!{ctx.escapeHtml($ctx.consignment.shippingAddress.firstname)} $!{ctx.escapeHtml($ctx.consignment.shippingAddress.lastname)}
			</td>		
		</tr>
		
        <tr class="address">
            <td>
                $!{ctx.messages.shippingAddressLine1} <br/>
            </td>
            <td>
                $!{ctx.escapeHtml($ctx.consignment.shippingAddress.line1)} <br/>
            </td>
        </tr>
        <tr class="address">
            <td>
                $!{ctx.messages.shippingAddressLine2} <br/>
            </td>
            <td>
                $!{ctx.escapeHtml($ctx.consignment.shippingAddress.line2)} <br/>
            </td>
        </tr>
        <tr class="address">
            <td>
                $!{ctx.messages.shippingAddressCity} <br/>
            </td>
            <td>
                $!{ctx.escapeHtml($ctx.consignment.shippingAddress.town)} <br/>
            </td>
        </tr>
        <tr class="address">
            <td>
                $!{ctx.messages.shippingAddressPostalCode} <br/>
            </td>
            <td>
                $!{ctx.escapeHtml($ctx.consignment.shippingAddress.postalcode)} <br/>
            </td>
        </tr>
        <tr class="address">
            <td>
                $!{ctx.messages.shippingAddressPhone} <br/>
            </td>
            <td>
                $!{ctx.escapeHtml($ctx.consignment.shippingAddress.phone1)} <br/>
            </td>
        </tr>

        <tr>
            <td colspan="2"><div class="pick-slip-border"></div></td>
        </tr>
	</table>

	<table class='data'>
           <tr>
               <td colspan="6" class="headline">$!{ctx.messages.customerOrder}</td>
           </tr>

            <tr>
                <td colspan="6"><div class="pick-slip-border"></div></td>
            </tr>
           <tr>
               <th colspan="6"><strong>$!{ctx.messages.shipmentDetails}</strong></th>
           </tr>
           <tr>
               <th>$!{ctx.messages.productCount}</th>
               <th>$!{ctx.messages.productCode}</th>
               <th>$!{ctx.messages.productDescription}</th>
               <th style="text-align:right;padding-right:80px">$!{ctx.messages.itemPrice} ($!{ctx.order.currency.symbol})</th>
               <th>$!{ctx.messages.productQuantity}</th>
               <th style="text-align:right;">$!{ctx.messages.totalPrice} ($!{ctx.order.currency.symbol})</th>
           </tr>

            <tr>
                <td colspan="6"><div class="pick-slip-border"></div></td>
            </tr>

           #foreach( $exportFormEntry in ${ctx.exportForm.formEntries} )
              <tr>
                   <td>$foreach.count</td>
                   <td>$!{ctx.escapeHtml($exportFormEntry.consignmentEntry.orderEntry.product.code)}</td>
                   <td>$!{ctx.escapeHtml($exportFormEntry.consignmentEntry.orderEntry.product.name)}</td>
                   <td style="text-align:right;padding-right:80px">$!{ctx.number.format('#0.00', $!{exportFormEntry.itemPrice})}</td>
                   <td>$!{exportFormEntry.consignmentEntry.quantity}</td>
                   <td style="text-align:right;">$!{ctx.number.format('#0.00', $!{exportFormEntry.totalPrice})}</td>
              </tr>
           #end

            <tr>
                <td colspan="6"><div class="pick-slip-border"></div></td>
            </tr>
           <tr>
           		<td colspan="5" class="total"><strong>$!{ctx.messages.total}</strong></td>
           		<td style="text-align:right;"><strong>$!{ctx.number.format('#0.00', $!{ctx.exportForm.totalPrice})}</strong></td>
           </tr>
	</table>			

	<table>
	    <tr>
	        <td colspan="2" align="center" valign="middle">
	            <a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.BottomContent}</a>
	        </td>
	    </tr>
	</table>
</body>
</html>
